https://www.rightmove.co.uk/property-for-sale/find.html?locationIdentifier=REGION%5E475&maxBedrooms=3&minBedrooms=1&maxPrice=270000&sortType=6&propertyTypes=bungalow%2Cdetached%2Cflat%2Cland%2Cpark-home%2Csemi-detached%2Cterraced&includeSSTC=false&mustHave=garden%2Cparking&dontShow=newHome%2Cretirement%2CsharedOwnership&furnishTypes=&keywords=


Field (in plain engrishu) -     JSON variable name - notes

1. Search Area -                search_area -       sting, cannot be null, is a proprietary rightmove argument, not sure how we get this (yet!)
2. Maximum number of Bedrooms - max_bedrooms -      int, can be null
3. Minimum number of Bedrooms - min_bedrooms -      int, can be null
4. Maximum price -              max_price -         int, can be null
5. Minimum price - min_price -  int can be null
6. Show property type -         show_house_type -   JSON list ie // key: ["value", "value"] //, can be null which shows all.
    Accepted values are ONLY the following strings "flat", "detached", "semi-detached", "terraced", "bungalow", "land", "park-home"
7. Must haves -                 must_have -         JSON List, can be null.
    Accepted values are ONLY the following strings "garden", "parking"
8. Don't show -                 dont_show -         JSON List, can be null.
    Accepted values are ONLY the following strings "newHome", "retirement", "sharedOwnership"

template...

{"search_area" : "",
"max_bedrooms" : ,
"min_bedrooms" : ,
"max_price" : ,
"min_price" : ,
"show_house_type": ["flat", "detached", "semi-detached", "terraced", "bungalow", "land", "park-home"]
"must_have" : ["garden", "parking"]
"dont_show" : ["newHome", "retirement", "sharedOwnership"]
}